*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif ;
}
header{
    width: 100%;
    height: 50px;
    background-color: red;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
h1{
    float: left;
}
header .contenedor{
    display: table;
}
#banner{
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    transform: translateX(600px)translateY(-600px);
}
#banner h2{
    font-size: 26px;
}
#banner a{
    display: block;
    width: 100px;
    color: aqua;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid aqua;
}
#banner a:hover{
    background: red;
}
header label{
    float: right;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
#menu-bar{
    display: none;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 20%;
    height: 42.5vh;
    background: rgb(0, 89, 255);
    transition: all .5s;
    transform: translateX(-100%);
}
#menu-bar:checked ~.menu{
    transform: translateX(0%);
}
.menu a{
    display: block;
    color: black;
    height: 50px;
    text-decoration: none;
    padding: 14px;
    border: 1px solid black;
  
}
.menu a:hover{
    background: white;
}
#bienvenidos h2{
    padding: 15px;
    text-transform: uppercase;
}
#servicios{
    padding: 50px;
}
#servicios h3{
    text-align: center;
    color:blue;
}
#servicios h4{
    text-align: center;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
#servicios .contenedor{
    display: flex;
    justify-content: center;
    flex:wrap ;
}
#servicios article{
    margin: 16px;
}
#servicios img{
    width: 100%;
    max-width: 200px;
    justify-content: center;
}
#productos{
    background: brown;
    color: black;
    text-align: center;
    padding: 30px;
}
#productos h2{
    padding: 15px;
    text-transform: uppercase;
}
#prductos .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-ciudad{
    margin: 30px;
}
.info-ciudad img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid black;
}
#viajes{
    background: black;
    color: brown;
    text-align: center;
    padding: 30px;
}
#viajes h2{
    padding: 20px;
    text-transform: uppercase;
}
#viajes .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-viajes{
    margin: 60px;
}
.info-viajes img{
    border-radius: 50%;
    border: 7px solid brown;
    width: 100px;
    height: 100px;
}
#promociones{
    background: red;
    color: white;
    text-align: center;
    padding: 30px;
}
#promociones h2{
    padding: 20px;
    text-transform: uppercase;
}
#promociones .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-promociones{
    margin: 60px;
}
.info-promociones img{
    border-radius: 50%;
    border: 7px solid whitesmoke;
    width: 100px;
    height: 100px;
}
#ubicacion{
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
}
#ubicacion h1{
    font-size: 25px;
     font-weight: uppercase;
}
#ubicacion .contenedor{
    display: flex;
    padding: 35px;
    flex-wrap: wrap;
    justify-content: center;
}
#ubicacion .comtenedor iframe{
    width: 45%;
    border: 10px solid white;
}
#ubicacion .contenedor p{
    padding: 40px;
    width: 50;
    text-align: center;
}
footer{
    background: red;
}
footer .contenedor{
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    padding: 30px;
    color:white;
}
.copy{
    font-size: 20px;
    padding: 20px;
}
.red-social{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.red-social a{
    color: aqua;
    text-decoration: none;
}